<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spa_study_app"
        tools:targetApi="34">
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".AppApplication"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".MainPageActivity"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".DailyWordMain"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".DailyStudyMain"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".DailyStudyPractice"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".GrammarMain"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".GrammarPractice"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".SpaTestMain"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".DailyWordPractice"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".TopGunPage"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>

        <activity
            android:name=".AppSettingMain"
            android:exported="true"
            android:theme="@style/Theme.Spa_study_app">
        </activity>









    </application>

</manifest>